<h1> Routing Demo </h1>
<nav>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">register</a></li>
</nav>
<router-outlet></router-outlet>

<p>ParagraphParagraphs are the group of sentences combined together, about a certain topic.</p>

<h1>pipesDemo</h1>
<li>{{"Porkodi"}} </li>
<li>{{"Porkodi" | uppercase}}</li>
<li>{{"Porkodi" | lowercase}} </li>
<li>{{dob}}</li>
<li>{{dob | date}}</li>
<li>{{dob | date |uppercase }}</li>
<li>{{17.81922 | number }}</li>
<li>{{17.819227546354 | number: '3.4-6' }}</li>
<li>{{17.81922 | number : '2.0-0'}}</li>
<li>{{365778 | currency}}</li>
<li>{{365778 | currency: 'INR'}}</li>
<li>{{"porkodi" |firstChar}}</li>
<li>{{"angular" |firstChar}}</li>
<li>{{"great" |firstChar}}</li>