body {
    background-color: beige;
}

p {
    color: blueviolet;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-style: italic;
}

.class1 {
    color: brown;
}